body {
  font-family: 'Spectral';
  text-align: center;
  background-image: url(https://i.pinimg.com/originals/a9/18/48/a918483773ee6279cec058caedfa367c.jpg);
  background-repeat: no-repeat;
  background-size: 1550px;

}

#menu {
  position: absolute;
  top: 820px;
  column-count: 2;
  column-gap: 0.5px;
  width: 1550px;

}

#item1 {
  position: relative;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_DIkML5NJI8jg2AMn7zmq_vd-a85a4Amwf4OSKpZDXykUM6ZWSQ);
  background-repeat:no-repeat;
  background-size: cover;
  height: 500px;
  padding-top: 65px;
  padding-right: 150px;

}

#item2 {
  position: relative;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_DIkML5NJI8jg2AMn7zmq_vd-a85a4Amwf4OSKpZDXykUM6ZWSQ);
  background-repeat:no-repeat;
  background-size: cover;
  height: 500px;
  padding-top: 65px;
  padding-right: 150px;
}

#item3 {
  position: relative;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_DIkML5NJI8jg2AMn7zmq_vd-a85a4Amwf4OSKpZDXykUM6ZWSQ);
  background-repeat:no-repeat;
  background-size: cover;
  height: 500px;
  padding-top: 65px;
  padding-right: 150px;
}

#item4 {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_DIkML5NJI8jg2AMn7zmq_vd-a85a4Amwf4OSKpZDXykUM6ZWSQ);
  background-repeat:no-repeat;
  background-size: cover;
  height: 500px;
  padding-top: 65px;
  padding-right: 150px;

}


#item5 {
  position: relative;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_DIkML5NJI8jg2AMn7zmq_vd-a85a4Amwf4OSKpZDXykUM6ZWSQ);
  background-repeat:no-repeat;
  background-size: cover;
  height: 500px;
  padding-top: 65px;
  padding-right: 150px;
}

#item6 {
  position: relative;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_DIkML5NJI8jg2AMn7zmq_vd-a85a4Amwf4OSKpZDXykUM6ZWSQ);
  background-repeat:no-repeat;
  background-size: cover;
  height: 500px;
  padding-top: 65px;
  padding-right: 150px;
}

#item7 {
  position: relative;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_DIkML5NJI8jg2AMn7zmq_vd-a85a4Amwf4OSKpZDXykUM6ZWSQ);
  background-repeat:no-repeat;
  background-size: cover;
  height: 500px;
  padding-top: 65px;
  padding-right: 150px;

}

#item8 {
  position: relative;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_DIkML5NJI8jg2AMn7zmq_vd-a85a4Amwf4OSKpZDXykUM6ZWSQ);
  background-repeat:no-repeat;
  background-size: cover;
  height: 500px;
  padding-top: 55px;
  padding-right: 150px;

}


p {
 font-size: 19px;
 margin-left: 110px;
}

li:hover {
  color: #1313e8;
  text-decoration: underline;
}

li {
  width: 250px;
  margin-left: 100px;
}


ol {
  column-count: 2;
  column-gap: 0px;

}

.price {
  font-size: 15px;
  text-decoration: italic;
  margin-left: 15px;
}

button {
  position: absolute;
  top: 2850px;
  left: 150px;
}

input {
  margin-left: 5px;
}

#output {
  position: absolute;
  top: 2900px;
  left: 500px;

}
